{% extends 'base.html' %} {% load static %} {% block content %}

<section>
  <article>
    <h2>About Us</h2>
    <!--Begin row-->
    <div class="row">
      <div class="column">
        <p>
          Tucked away in the bustling heart of Chicago, Bella Citrus shines
          bright as a beacon of authentic pizza craftsmanship—a haven where
          tradition meets innovation, offering a delightful fusion of timeless
          flavors with a modern twist.
        </p>
        <p>
          Inspired by the rich culinary heritage of Italy, Greece, and Turkey,
          our skilled pizza artisans craft a diverse menu of 12-15 seasonal pies
          that tantalize the taste buds and ignite the senses.
        </p>
        <p>
          Stepping into Bella Citrus, guests are enveloped in a cozy ambiance
          radiating with warmth and charm, providing a welcoming sanctuary where
          pizza lovers can relish in affordable luxury, making it the ultimate
          destination for culinary escapades, any time of day.
        </p>

        <p>
          At the helm of this culinary journey are two passionate siblings from
          Italy—Enzo and Luca—whose shared vision and dedication have brought
          Bella Citrus to life, showcasing their love for pizza on American
          soil.
        </p>

        <p>
          Leading the charge in crafting culinary masterpieces is Enzo, drawing
          inspiration from cherished family recipes and his extensive experience
          in the kitchens of Italy.
        </p>

        <p>
          Complementing the culinary artistry, Luca spearheads the marketing
          efforts, championing a mission to expand the pizza horizon beyond
          traditional Italian fare, embracing a broader Mediterranean palette to
          delight pizza enthusiasts far and wide.
        </p>
      </div>

      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <figure class="figure">
          <img src="{% static 'image/john-n-jane.jpg' %}" alt="Enzo and Luca" />
          <figcaption class="figure-caption">
            Bella Citrus owners Enzo and Luca.
          </figcaption>
        </figure>
      </div>
      <!--End col-->
    </div>
    <!--End row-->
  </article>
</section>
{% endblock %}
