{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Menu</h1>
<!--Begin col-->
<div class="column">
   <!-- Step 14: Create for loop -->
   {% for item in menu %}
   <a href= "{% url 'menu_item' pk=item.pk %}" >
   <p>{{ item.name }}
    </a>
      <!-- Step 14: Add DTL variable for name -->
      <span class="menu-price">${{ item.price }}.00</span>
         <!-- Step 14: Add DTL variable for price --> 
      <span>{{  item.description }}</span>
   <!-- Step 14: End or loop -->
   {% endfor %}
    </p>
  
</div>
<!--End col-->
{% endblock %}
</html>