{% extends 'base.html' %} {% load static %} {% block content %}
<section>
  <article>
    <h2>Menu item</h2>
    <span>
      <a style="color: blue" href="{% url 'home' %}">Home</a> /
      <a style="color: blue" href="{% url 'menu' %}">Menu</a>/
    </span>

    <div class="row">
      <div class="column">
        <h2 style="color: blue; margin-bottom: 0px; font-size: 1.5rem">
          {{ menu_item.name }}
        </h2>
        <p style="color: red; font-size: 1.2rem; margin: 0px">
          ${{ menu_item.price }}.00
        </p>
        <p>{{ menu_item.description }}</p>
      </div>

      <div class="column">
        <img
          src="/static/image/menu_items/{{menu_item.name}}.jpg"
          alt="{{ menu_item.name}}"
        />
      </div>
    </div>
  </article>
</section>
{% endblock %}
